// |===========================================================================|
// |--------------------------| Paramètres du site |---------------------------|
// |===========================================================================|

// --------- Couleur du site ---------

$color-primary: #000000;
$color-secondary: #E60000;
$color-tr: #ffffff;

// --------- Nuance du site ----------


// --------- Nuance shadows ----------


// --------- Nuance border -----------


// --------- Nuance police -----------


// --------- Police du site ----------

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto/static/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-title';
    src: url(../assets/fonts/Roboto/static/Roboto-Medium.ttf);
}

// ------- Mixins et variables -------

$font-text: 'Roboto';

$font-title: 'Roboto-title';

// ---------- Responsive ------------

// Tablet Version
$lg: 1024px;

// Small desktop Version
$xl: 1210px;

// Desktop Version
$xxl: 1504px;

// ------- Ajustement du site --------

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

// ------- Style scrollbar --------

// ::-webkit-scrollbar {
//     width: 0.4em;
// }

// ::-webkit-scrollbar-track {
//     background: hsl(0, 0%, 13%);
// }

// ::-webkit-scrollbar-thumb {
//     background: hsl(0, 0%, 20%);

//     &:hover {
//         background: hsl(0 0% 60% / 0.5);
//     }
// }