// |===========================================================================|
// |---------------------------| NavButton Style |-----------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.3s ease;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    img {
        width: 33px;
    }
}