// |===========================================================================|
// |----------------------------| Dashboard Style |----------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================

.section-dashboard {

    width: 100%;
    padding-top: 50px;
    padding-right: 100px;
    margin-left: 200px;

    @media (max-width: $xl) {

        padding-right: 50px;
        margin-left: 150px;
    }

    @media (max-width: $mg) {

        padding-right: 20px;
        margin-left: 120px;
    }

    @media (max-width: $xs-width) and (max-height: $xs-height) {

        padding-right: 20px;
        padding-top: 30px;
    }

    .dashboard-header {
        font-family: $font-title;
        margin-bottom: 50px;

        @media (max-width: $lg) {

            margin-bottom: 30px;
        }

        @media (max-width: $xs-width) and (max-height: $xs-height) {

            margin-bottom: 20px;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            color: $color-primary;
            margin: 0;
            margin-bottom: 20px;

            @media (max-width: $xs-width) and (max-height: $xs-height) {

                font-size: 1.8rem;
                margin-bottom: 10px;
            }

            span {
                color: $color-secondary;
            }
        }

        P {
            font-family: $font-text;
            font-size: 1.2rem;

            @media (max-width: $xs-width) and (max-height: $xs-height) {

                font-size: 1rem;
            }
        }
    }

    .dashboard-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 50px;

        @media (max-width: $lg) {

            gap: 30px;
        }

        @media (max-width: $xs-width) and (max-height: $xs-height) {

            gap: 20px;
        }

        .dashboard-content-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;
            flex-grow: 1;

            @media (max-width: $xs-width) and (max-height: $xs-height) {

                gap: 20px;
            }

            .content-top {
                width: 100%;
            }

            .content-bot {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                gap: 30px;

                @media (max-width: $lg) {

                    gap: 20px;
                }

                @media (max-width: $xs-width) and (max-height: $xs-height) {

                    gap: 10px;
                }
            }
        }

        .dashboard-content-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 290px;

            @media (max-width: $lg) {

                width: 250px;
            }

            @media (max-width: $xs-width) and (max-height: $xs-height) {

                width: 200px;
            }
        }
    }
}