// |===========================================================================|
// |----------------------------| Dashboard Style |----------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================

.section-dashboard {

    width: 100%;
    padding-top: 80px;
    padding-left: 200px;

    .dashboard-header {
        font-family: $font-title;

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            color: $color-primary;
            margin: 0;
            margin-bottom: 20px;

            span {
                color: $color-secondary;
            }
        }

        P {
            font-family: $font-text;
        }
    }

    .dashboard-content {

        .dashboard-content-left {

            .content-top {}

            .content-bot {}
        }

        .dashboard-content-right {}
    }
}