// |===========================================================================|
// |--------------------------| DailyActivity Style |--------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================