// |===========================================================================|
// |-------------------------| LengthActivity Style |--------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================

.length-session {
    background: linear-gradient(90deg, $gradient-red-light, $gradient-red-dark);
    border-radius: 5px;
    width: 100%;
    height: 260px;
    position: relative;
    color: $color-tr;
    font-family: $font-text;
    overflow: hidden;

    h3 {
        font-size: 0.9rem;
        font-weight: 500;
        color: $color-tr;
        opacity: 0.6;
        position: absolute;
        top: 10px;
        left: 20px;
        width: 150px;
    }

    .tooltip-line {
        background-color: $color-tr;
        color: $color-primary;
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 600;
    }
}