// |===========================================================================|
// |-------------------------| Performance Style |-----------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================

.perf-chart {
    background-color: $background-chart-darkgray;
    border-radius: 5px;
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media (max-width: $lg) {

        height: 240px;
    }

    @media (max-width: $xs-width) and (max-height: $xs-height) {

        height: 210px;
    }

    .recharts-polar-grid-angle {
        display: none;
    }

    .recharts-polar-angle-axis-tick text {
        font-family: $font-text;
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: capitalize;
    }
}