// |===========================================================================|
// |-------------------------------| Nav Style |-------------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================
.left-bloc {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 100vh;
    background-color: $color-primary;

    .left-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 150px;
    }

    p {
        white-space: nowrap;
        font-family: $font-text;
        font-size: 0.8rem;
        color: $color-tr;
        transform: rotate(-90deg);
    }
}