// |===========================================================================|
// |------------------------------| Home Style |-------------------------------|
// |===========================================================================|

@import "/src/styles/settings.scss";

// =============================================================================


.main-section {
    display: flex;
    flex-direction: row;
}